.user-dashboard {
    // display: flex;

    .navigator {
        // flex: 1;
    }

    .main-content {
        display: flex;
        position: relative;

        .position {
            position: fixed;
            z-index: 1000;
            background-color: red;
        }
    }
}