@import '../../assets/styles/variables/variables';

.dashboard-aside {
    width: 28.3rem;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
    margin-top: 8rem;
    max-height: calc(100vh + 10rem);
    overflow-y: scroll;

    &.mobile-hide {
        display: none;
    }

    &.visible {
        display: block;
    }

    &::-webkit-scrollbar {
        width: 0.1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        width: .9rem;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary-000;
        border-radius: 5rem;
    }

    h2 {
        font-weight: 700;
        padding-left: 2rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.408rem;
        text-align: left;
        color: $grey-000;
        margin-top: 1.2rem;
    }

    ul {
        list-style: none;

        p {
            padding: 2rem;
            font-family: 'Work Sans', sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 14.08px;
            text-align: left;
            color: rgba($grey-000, 1);
            text-transform: uppercase;
        }

        li {
            margin-bottom: 1rem;
            font-family: "Work Sans", sans-serif;
            font-weight: 300;
            line-height: 1.877rem;
            text-align: left;
            color: $heading1;
            padding-block: 1rem;
            font-size: 1.6rem;

            &.switch-organ {
                margin-top: 4rem;
            }

            &.dashboard {
                margin-block: 4rem;
            }

            &.logout-link {
                border-top: 0.1rem solid rgba($heading1, 1);
                margin-top: 4rem;
                color: $danger-001;

                button {
                    background: none;
                    align-items: center;
                    display: flex;
                    padding: 2rem;
                    gap: 1rem;

                    span {
                        font-family: 'Work Sans', sans-serif;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 1.877rem;
                        color: rgba(33, 63, 125, 1);
                    }
                }
            }

            a {
                display: flex;
                align-items: center;
                gap: 1rem;
                text-decoration: none;
                color: inherit;
                padding-inline: 2rem;

                &.active-link {
                    font-weight: 400;
                    background-color: rgba($primary-000, 0.1);
                    padding: 2rem;
                    width: 100%;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: .5rem;
                        height: 100%;
                        background-color: $primary-000;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .hamburger-button {
        display: block;
    }

    .mobile-hide-button {
        display: none;
    }

    .mobile-show {
        display: block;
        margin-right: 5rem;
    }
}