@import '../../assets/styles/variables/variables';

.authform-user__form-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    font-family: $lendsqr_regular;

    .pablo-wrapper-logo {
        margin-bottom: 4rem;

        .pablo-wrapper-logo-img {
            width: 17.376rem;
            height: 3.6rem;

            @media(max-width: 1000px) {
                position: absolute;
                top: 3rem;
            }
        }

    }

    .pablo-wrapper {
        display: flex;
        flex-direction: column;
        min-width: 50%;

        @media (max-width: 900px) {
            flex-direction: column;
        }


        .pablo-login {
            width: 60rem;
            height: 33.757rem;
            display: flex; // Ensure it is displayed with UserForm

            @media(max-width: 1000px) {
                width: 100%;
                object-fit: cover;
                display: none;
            }
        }

        .flex-container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            @media (max-width: 1000px) {
                flex-wrap: wrap;
                min-height: 100%;
            }
        }
    }

    @media (max-width: 1000px) {
        flex-wrap: wrap;
        min-height: 100%;
    }
}