.user-table {
    // width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
    min-width: 75rem;
    margin: auto;
    align-self: center;

    th,
    td {
        border-bottom: 1px solid #ddd;
        /* Apply border-bottom only */
        padding: 8px;
    }

    th {

        text-align: left;
    }

    // tr:nth-child(even) {
    //     background-color: #f9f9f9;
    // }

    tr:hover {
        // background-color: #ddd;
    }
}