@import './variables/variables';





html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;

    @media (max-width: 950px) {
        font-size: 55.5%;
    }

    @media (max-width: 700px) {
        font-size: 52.5%;
    }

    @media (max-width: 500px) {
        font-size: 55%;
    }

    @media (max-width: 400px) {
        font-size: 50%;
    }
}

html::-webkit-scrollbar {
    width: 0.1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
    width: 0.1rem;
}

html::-webkit-scrollbar-thumb {
    background: $primary-000;
    border-radius: 5rem;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: $black-000;
    background: rgba(255, 255, 255, 1);
}

h1 {
    color: $heading1;
    font-family: Avenir Next;
    line-height: 5.464rem;
    letter-spacing: -0.04em;
}

.container {
    padding-inline: var(--bs-gutter-x, 2rem);
    width: 100%;
    margin-inline: auto;

    @media (max-width: 1000px) {
        padding-inline: 1rem;
    }

    @media (max-width: 600px) {
        padding-inline: var(--bs-gutter-x, 2rem);
    }

    @media (min-width: 540px) {
        max-width: 100%;
    }

    @media (min-width: 768px) and (max-width: 900px) {
        max-width: 95%;
    }

    @media (min-width: 1060px) {
        max-width: 1000px;
    }

    @media (min-width: 1100px) {
        max-width: 1089px;
    }

    @media (min-width: 1200px) {
        max-width: 1189px;
    }

    @media (min-width: 1400px) {
        max-width: 1289px;
    }

    @media (min-width: 1500px) {
        max-width: 1300px;
    }

    // @media (min-width: 1700px) {
    //   max-width: 100px;
    // }

    @media (min-width: 1800px) {
        max-width: 1400px;
    }
}

.mobile-hide {
    @media (max-width: 1200px) {
        display: none;
    }
}

.main-content {
    display: flex;
}

.content {
    margin-top: 14rem;

    // width: 100%;
    @media (min-width: 1200px) {
        margin-top: 14rem;
        width: calc(100% + 28.3rem);
    }
}